// It's highly recommended to change the default colors
// to match your app's branding.

// quasar.variables.sass

$primary: #478d45;
$secondary: #e8f5e9;
$accent: #FF4081;
$red: #dd0000;
$darkGrey: #4E4E4E;
$grey1: #747474;
$dark: #1d1d1d;
$positive: #21BA45;
$negative: #FF5252;
$info: #2196F3;
$warning: #FB8C00;

