// It's highly recommended to change the default colors
// to match your app's branding.

// quasar.variables.sass

$primary: #478d45;
$secondary: #e8f5e9;
$accent: #ff4081;
$red: #dd0000;
$darkGrey: #4e4e4e;
$grey1: #747474;
$dark: #1d1d1d;
$positive: #21ba45;
$negative: #ff5252;
$info: #2196f3;
$warning: #fb8c00;
